.nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    pointer-events: none;
}

.navButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 10px;
    border-width: 1px;
    background: none;
    margin: none;
    padding: none;
    border-color: var(--tertiary-color-60);
    cursor: pointer;
    pointer-events: auto;
}

.navButton svg {
    display: block;
    width: 6px;
    height: 9px;
}