.profilContainer {
    display: flex;
    flex-direction: column;
    margin: 0 120px;
    padding: 90px 70px;
}

.profilSummary {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profilHeader {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    padding: 32px 52px;
    border-radius: 20px;
    background: linear-gradient(to bottom,
            #FFFFFF 0%,
            transparent);
}

.profilStaty {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 90px 0;
}

.trainingForm {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 40px 0px;
    gap: 10px;
    background-color: white;
}