.profile {
    display: flex;
    height: 117px;
    gap: 38px;
}

.imageContainer {
    position: relative;
    width: 104px;
    height: 117px;
    overflow: hidden;
    border-radius: 10px;
}

.profilePicture {
    border-radius: 10px;
    box-shadow: 0px 4px 84px -40px #9DA7FB66;
    transition: transform 300ms ease-out;
}

.profilePicture:hover {
    transform: scale(1.1);
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.detail p {
    color: var(--tertiary-color-60);
}